/* All app styles are here because this is a small project
    and it's easier to manage all styles in one place */

/* Reset */

* {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

body {
  margin: 0;
  height: 100%;
  background: #eeeeee;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
  padding: 1rem 1.5rem;
}

header h1 {
  font-size: 2rem;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  text-wrap: nowrap;
  border: 2px solid black;
}

nav a:hover {
  background: white;
  color: black;
}

/* Main */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

/* Forms */

form {
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  width: 500px;
}

form input,
form button {
  margin: 0 0 1rem 0;
  padding: 1.75rem;
  font-size: 1.5rem;
  background: black;
  color: white;
  border: none;
  border: 2px solid black;
}

form input {
  text-transform: none;
}

form button:hover {
  background: white;
  color: black;
}

form button:disabled {
  background: black;
  color: white;
  text-decoration: line-through;
}

/* Friend List */

.friend-list {
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
}

.friend-list li {
  margin-bottom: 1.75rem;
}
